* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #fffffa;
  /*background-image: url('cool-background.png');*/
}

header {
  width: 100%;
  overflow: hidden;
  background: #252932;
  margin-bottom: 20px;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

header .logo {
  color: #f2f2f2;
  font-size: 50px;
  line-height: 200px;
  float: left;
}

header nav {
  float: right;
  line-height: 200px;
}

header nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;

  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

header nav a:hover {
  background: #f56f3a;
  border-radius: 50px;
}

.header2 {
  position: fixed;
  height: 100px;
}

.header2 .logo {
  line-height: 100px;
  font-size: 30px;
  margin-bottom: 20px;
}
.header2 .logocorporativo{
  height: 50px;
  width: 50px;
}

.header2 nav {
  line-height: 100px;
}

.contenido p {
  margin-bottom: 1em;
  margin-top: 16px  ;
}

@media screen and (max-width: 950px) {
  header .logo,
  header nav {
    width: 100%;
    text-align: center;
    line-height: 100px;
  }

  .header2 {
    height: auto;
  }

  .header2 .logo,
  .header2 nav {
    line-height: 50px;
  }
}

.formulario {
  width: 80%;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 16px;
  background-color: #252932;
}
form label {
  color: #fff;
  width: 50%;
  font-weight: bold;
  display: inline-block;
  padding: 16px
}
.btn {
  display: flex;
  background-color: #002363; /* Green */
  border-radius: 40px;
  font-weight: bold;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.results {
  flex-direction: column;
  width: 80%;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #252932;
  text-align: center;
}

.results label {
  color: #fff;
  width: auto;
  font-weight: bold;
  display: inline-block;
  padding: 16px 16px;
}

.results p {
  color: #fff;
  display: flex;
  width: auto;
  font-weight: bold;
  display: inline-block;
  padding: 16px 16px;
}
